<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <a href="{{ path('user_list') }}">user list</a>
    <a href="{{ path('group_list') }}">group list</a>

    <a href="{{ path('admin') }}">Gestion</a>


    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>

</html>
